body {
    background: linear-gradient(to right top, #051937, #0e173c, #1a133e, #260d3f, #33023d);
    overflow: hidden;
    color: #fff;
}

.wrapper {
    padding: 4% 0;
}

.container {
    padding: 4% 0;
}

.form-signin {
    max-width: 380px;
    margin: 0 auto;
    background-color: #2c3e50; /* Dark background color */
    padding: 30px;
    border: 1px solid #34495e; /* Dark border color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition */
    animation: fadeIn 1s ease; /* Fade in animation */
    display: flex; /* Use flexbox to center child elements */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-signin .form-heading,
.form-signin .checkbox {
    margin-bottom: 20px;
    opacity: 0; /* Hidden initially */
    transform: translateY(20px); /* Move down initially */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

.form-signin.visible .form-heading,
.form-signin.visible .checkbox {
    opacity: 1; /* Visible on form display */
    transform: translateY(0); /* Move up when visible */
}

/* Input fields */
.form-signin label {
    display: block; /* Make labels display block to move them to a new line */
    margin-bottom: 5px; /* Add a small margin between label and input */
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #3498db; /* Blue border color */
    background-color: #ecf0f1; /* Light background color */
    color: #2c3e50; /* Dark text color */
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
    border-color: #2980b9;
    background-color: #d6eaf8; 
    color: #2c3e50;
}

.btn-dark {
    padding: 10px 20px;
    position: relative; /* Add relative positioning */
    top: 15px;
    border-radius: 36px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}


.btn-dark:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Animation for form elements */
.form-signin.visible input,
.form-signin.visible .btn-dark {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s; /* Delayed transition for a staggered effect */
}
