<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <form class="form-signin" action="{{ url_for('admin_login') }}" method="post">
                <!-- CSRF token -->
                {{ form.csrf_token }}

                <!-- Placeholder logo and title -->
                <img src="your-logo.png" alt="Logo" class="img-fluid mb-4">
                <h2 class="form-heading text-center"> Admin Login</h2>

                <label for="username">Username:</label>
                {{ form.username(class="form-control", id="username") }}

                <label for="password">Password:</label>
                {{ form.password(class="form-control", id="password") }}

                {{ form.submit(class="btn btn-dark btn-block") }}
            </form>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
